html,
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  font-family: sans-serif;
  overflow: hidden;
}
#app {
  height: 100%;
  width: 100%;
}

/* LUMINO */
:root {
  --dock-panel-bg: #6e0a0a;
  /* Tabs */
  --dock-tab-bar-bg: #050046;
  --dock-tab-bg-color: rgb(0, 136, 129);
  --dock-tab-bg-active: rgb(0, 75, 71);
  --dock-tab-text-color: #cccccc;
  --dock-tab-padding-x: 8px;
  --dock-tab-bar-min-height: 30px;
  --dock-tab-bar-gap: 2px;
  /* Resizer Handler */
  --dock-handle-bg: rgb(100, 100, 100);
  /* Overlay */
  --dock-overlay-bg: rgb(0, 0, 0);
  --dock-overlay-opacity: 0.2;
  /* Icons */
  --editor-icon-left-margin: 10px;
  --editor-icon-right-margin: 20px;
  --editor-icon-right-opacity: 0.3;
}

.lm-DockPanel {
  background-color: var(--dock-panel-bg);
  height: 100%;
  width: 100%;
}

.lm-DockPanel .lm-TabBar {
  min-height: var(--dock-tab-bar-min-height);
  background-color: var(--dock-tab-bar-bg); /* just for visibility */
}

.lm-TabBar-content {
  height: 100%;
  display: flex;
  column-gap: var(--dock-tab-bar-gap);
}

.lm-TabBar-tab {
  background-color: var(--dock-tab-bg-color);
  color: var(--dock-tab-text-color);
  display: flex;
  align-items: center;
  padding: 0 var(--dock-tab-padding-x);
}

/* Resizer Handler */
.lm-DockPanel-handle {
  background-color: var(--dock-handle-bg);
}

/* Drop Target Overlay */
.lm-DockPanel-overlay {
  background-color: var(--dock-overlay-bg);
  opacity: var(--dock-overlay-opacity);
}

/* Active Editor Tab */
.lm-mod-current {
  background-color: var(--dock-tab-bg-active);
}

/* Editor Icons */
.editor-icon {
  margin-right: var(--editor-icon-left-margin);
}
.lumino-close-editor-icon {
  margin-left: var(--editor-icon-right-margin);
  cursor: pointer;
  opacity: var(--editor-icon-right-opacity);
}
.lumino-close-editor-icon:hover {
  opacity: 1;
}
